@media (min-width: 320px) and (max-width: 999px){
  body {
  background: #c2c6a7;
  width: 100vw;
  height: 100vh;
}
.full-hw {
  width: 100vw;
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
}
.font-brandonBlack {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 900;
  font-style: normal;
}
.font-brandonBold {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.font-brandonRegular {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.light-1 {
  color: #c2c6a7;
}
.light-2 {
  color: #a9ae84;
}
.light-3 {
  color: #8e9461;
}
.light-4 {
  color: #6b6f49;
}
.dark-1 {
  color: #3a4c36;
}
.dark-2 {
  color: #243022;
}
.dark-3 {
  color: #121811;
}
.bg-light-1 {
  background-color: #c2c6a7;
}
.bg-light-2 {
  background-color: #a9ae84;
}
.bg-light-3 {
  background-color: #8e9461;
}
.bg-light-4 {
  background-color: #6b6f49;
}
.bg-dark-1 {
  background-color: #3a4c36;
}
.bg-dark-2 {
  background-color: #243022;
}
.bg-dark-3 {
  background-color: #121811;
}
.bg-transp {
  background-color: #c2c6a700;
}
.header {
  position: absolute;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  z-index: 10;
}
.header .logo {
  position: relative;
  font-size: 1.5em;
  font-weight: 900;
  text-decoration: none;
}
.header .logo:hover {
  color: #3a4c36;
}
.header .navigation {
  display: flex;
  justify-content: center;
  flex-wrap: 10px 0;
}
.header .navigation li {
  list-style: none;
  margin: 10px 10px 0px;
}
.header .navigation li a {
  text-decoration: none;
  color: #3a4c36;
  font-size: 1.05em;
  letter-spacing: 1px;
  transition: all 0.2s ease;
}
.header .navigation li a:hover {
  color: #243022;
  text-shadow: 5px 5px 5px#121811;
}
.banner {
  padding: 100px 40px 100px 40px;
  height: 100vh;
  width: 100vw;
  display: flex;
}
.content {
  margin: 0px;
  display: grid;
  width: 100vw;
  row-gap: 0px;
  column-gap: 0px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}
.smokeyText {
  position: absolute;
  max-height: fit-content;
}
.bannerP {
  font-size: 1.4em;
  margin: 12vw, 10vh;
  padding: 14vw;
}
.centerText {
  text-align: center;
}
.bannerButton {
  height: 40px;
  width: 100px;
  margin: 2.4em auto;
  color: #243022;
  border-radius: 8px;
  transition: all 0.2s ease-out;
  background: #c2c6a7;
  box-shadow: 6px 6px 20px #a5a88e, -6px -6px 20px #dfe4c0;
}
.bannerButton:hover {
  color: #121811;
}
.bannerButton:active {
  height: 40px;
  width: 100px;
  margin: 2.4em auto;

  color: #121811;
  border-radius: 8px;
  background: #c2c6a7;
  box-shadow: 4px 4px 20px #a5a88e, -4px -4px 20px #dfe4c0;
}

.bannerButton p {
  text-decoration: none;
  padding: 0.5em;
  font-size: 1em;
  letter-spacing: 2px;
  color: #243022;
  display: flex;
  justify-content: center;
  align-content: center;
}

.SBimage {
  filter: opacity(0.5);
  top: 20vh;
  left: 20vw;
  max-height: 40vh;
}
.TextOverlay {
  position: absolute;
  top: 20vh;
  left: 20vw;
  font-size: 4em;
  z-index: 1;
}




.input {
  margin: 0 auto;
  padding: 0.5em;
  border-radius: 1rem;
  background: #c2c6a7;
  transition: all 0.2s ease-out;
  box-shadow: 10px 10px 20px #a5a88e, -10px -10px 20px #dfe4c0;
}

.input:focus {
  background: #c2c6a7;
  transition: all 0.2s ease-out;
  border: none;
  box-shadow: 6px 6px 20px #a5a88e, -6px -6px 20px #dfe4c0;
}
.codeInputField {
  background-color: #12181100;
  border: none;
}
.codeInputField[type=text] {
  background-color: #12181100;
  border: none;
}
.enterCode {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}
.enterCodeText {
  margin: 100px auto;
  display: block;
}
.enterCodeText h1 {
  font-size: 2.5em;
}
.ValidateButton {
  border-radius: 1rem;
  background: #c2c6a7;
  box-shadow: 6px 6px 20px #a5a88e, -6px -6px 20px #dfe4c0;
  transition: all 0.2s ease-out;
  margin: 1.8em auto;
  font-size: 1.2em;
}
.productsPageContainer {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
.productsPageContainer h2 {
  justify-content: flex-start;
  flex-direction: column;
  margin: 2em auto 2em;
  font-size: 2.4em;
}
.product1:active {
  width: 190px;
  height: 90px;
  border-radius: 1em;
  background: #c2c6a7;
  box-shadow: 3px 3px 20px #a5a88e, -3px -3px 20px #dfe4c0;
  position: relative;
  padding: 12px 10px;
  margin: 1em auto;
}
.product2:active {
  width: 190px;
  height: 90px;
  border-radius: 1em;
  background: #c2c6a7;
  box-shadow: 3px 3px 20px #a5a88e, -3px -3px 20px #dfe4c0;
  position: relative;
  padding: 12px 10px;
  margin: 1em auto;
}
.product3:active {
  width: 190px;
  height: 90px;
  border-radius: 1em;
  background: #c2c6a7;
  box-shadow: 3px 3px 20px #a5a88e, -3px -3px 20px #dfe4c0;
  position: relative;
  padding: 12px 10px;
  margin: 1em auto;
}
.product1 {
  width: 190px;
  height: 90px;
  border-radius: 1em;
  background: #c2c6a7;
  box-shadow: 6px 6px 20px #a5a88e, -6px -6px 20px #dfe4c0;
  position: relative;
  padding: 12px 10px;
  margin: 1em auto;
  transition: all 0.2s ease-out;
}
.product2 {
  width: 190px;
  height: 90px;
  border-radius: 1em;
  background: #c2c6a7;
  box-shadow: 6px 6px 20px #a5a88e, -6px -6px 20px #dfe4c0;
  position: relative;
  padding: 12px 10px;
  margin: 1em auto;
  transition: all 0.2s ease-out;
}
.product3 {
  width: 190px;
  height: 90px;
  border-radius: 1em;
  background: #c2c6a7;
  box-shadow: 6px 6px 20px #a5a88e, -6px -6px 20px #dfe4c0;
  position: relative;
  padding: 12px 10px;
  margin: 1em auto;
  transition: all 0.2s ease-out;
}
.product_load1 {
  width: 70px;
  height: 70px;
  position: relative;
  float: left;
  box-shadow: 6px 6px 20px #a5a88e, -6px -6px 20px #dfe4c0;
  z-index: 3;
  border-radius: 50%;
  background-size: 200% 100%;
  background-position: 100% 0;
}
.product_load1 img {
  padding: 0.5em;
  width: 70px;
  height: 70px;
}
.product-descripion1 {
  width: 90px;
  height: 70px;
  float: right;
  border-radius: 5px;
  padding: 1em 0;
  text-align: center;
  text-justify: center;
}
.product-descripion1 h3 {
  font-size: 2em;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 500;
}
.product_load2 {
  width: 70px;
  height: 70px;
  position: relative;
  float: left;
  box-shadow: 6px 6px 20px #a5a88e, -6px -6px 20px #dfe4c0;
  z-index: 3;
  border-radius: 50%;
  background-size: 200% 100%;
  background-position: 100% 0;
}
.product_load2 img {
  padding: 0.5em;
  width: 70px;
  height: 70px;
}
.product-descripion2 {
  width: 90px;
  height: 70px;
  float: right;
  border-radius: 5px;
  padding: 1em 0;
  text-align: center;
  text-justify: center;
}
.product-descripion2 h3 {
  font-size: 2em;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 500;
}
.product_load3 {
  width: 70px;
  height: 70px;
  position: relative;
  float: left;
  box-shadow: 6px 6px 20px #a5a88e, -6px -6px 20px #dfe4c0;
  z-index: 3;
  border-radius: 50%;
  background-size: 200% 100%;
  background-position: 100% 0;
}
.product_load3 img {
  padding: 0.6em;
  width: 70px;
  height: 70px;
}
.product-descripion3 {
  width: 90px;
  height: 70px;
  float: right;
  border-radius: 5px;
  padding: 1em 0;
  text-align: center;
  text-justify: center;
}
.product-descripion3 h3 {
  font-size: 2em;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 500;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.w-full {
  width: 100%;
}
.flex {
  display: flex;
}
.hidden {
  display: none;
}
.select-none {
  user-select: none;
}
.justify-center {
  justify-content: center;
}
.top-bar {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.level-2s {
  padding: 60px 60px 60px 60px;
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 15px #4c5361ff;
}
.level-2s-inside {
  max-width: 760px;
}
.level-2s h1 {
  font-weight: normal;
  font-size: 3rem;
  margin: 0;
}
.level-2s p {
  font-size: 1.4rem;
  line-height: 1.6;
}
.button1 {
  text-decoration: none;
  padding: 12px 18px;
  border-radius: 18px;
  font-size: 1.4rem;
  display: inline-block;
  transition: all 0.2s ease-out;
}
.button1:hover {
  transform: scale(96%);
  color: #8e9461;
}
.footer {
  padding: 20px 20px;
  color: #1c2835ff;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.bottom-stick {
  position: absolute;
  position: sticky;
  bottom: end;
  left: 0;
}
.products-inner {
  padding: 100px 100px 100px 100px;
  box-shadow: 5px 5px 15px #4c5361ff;
}
.photos-s {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1.1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1.1fr));
}
.card h2 {
  text-decoration: none;
}
.photos-s div img {
  width: 100%;
}
.card {
  width: 400px;
  height: 300px;
  background: #8e9461;
  border-radius: 24px;
  box-shadow: 20px 20px 42px #747950, -20px -20px 42px #a8af72;
  transition: all 0.2s ease-out;
  margin: 20px 20px 20px 20px;
}
.card:hover {
  width: 400px;
  height: 300px;
  background: #8e9461;
  border-radius: 24px;
  box-shadow: inset 12px 12px 42px #747950, inset -12px -12px 42px #a8af72;
}
.product-name {
  padding: 40px;
  transform: translate(0px, 0px);
  color: #1c2835ff;
}
.card2-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 24px;
  background-color: #8e9461;
  box-shadow: 5px 5px 15px #4c5361ff;
}
.card2 {
  display: grid;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";
  background: #8e9461;
  border-radius: 24px;
  box-shadow: 20px 20px 42px #747950, -20px -20px 42px #a8af72;
  transition: all 0.2s ease-out;
  text-align: center;
  margin: 25px;
}
.card2:hover {
  transform: scale(99%);
  background: #8e9461;
  border-radius: 24px;
  box-shadow: inset 12px 12px 42px #747950, inset -12px -12px 42px #a8af72;
}
.card2-image {
  grid-area: image;
  background-image: url("SBC\Images\bearr.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card2-text {
  grid-area: text;
  margin: 20px;
}
.card2-text .ind-sat {
  color: #1c2835ff;
  font-size: 1rem;
}
.card2-text p {
  color: #1c2835ff;
  font-size: 1rem;
  font-weight: 300;
}
.card2-text h2 {
  color: #1c2835ff;
  font-size: 2rem;
  margin-top: 0px;
}
.card2-stats {
  grid-area: stats;
}
}