/*
--black-dark: #1c2835ff;
--black-light2: #273749ff;
--black-light: #4c5361ff;
--black-lighter: #617183ff;
--mid: #858b90ff;
--light: #e3dfd6ff;
--blue-darker: #1870a0ff;
--blue-dark: #1d89c3ff;
--blue: #2aa0dfff;*/

/*
Brandon Grotesque Regular
font-family: brandon-grotesque, sans-serif;
font-weight: 400;
font-style: normal;


Brandon Grotesque Bold
font-family: brandon-grotesque, sans-serif;
font-weight: 700;
font-style: normal;

Brandon Grotesque Black
font-family: brandon-grotesque, sans-serif;
font-weight: 900;
font-style: normal; */
body {
  background: #c2c6a7;
  width: 100vw;
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
}
.font-brandonBlack {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 900;
  font-style: normal;
}
.font-brandonBold {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.font-brandonRegular {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.font-main {
  font-family: "Quicksand", sans-serif;
}
.font-2 {
  font-family: "IM Fell English", serif;
}
.font-3 {
  font-family: "The Girl Next Door", cursive;
}
.font-4 {
  font-family: "Maitree", serif;
}
.font-5 {
  font-family: "Hind Vadodara", sans-serif;
}
.font-6 {
  font-family: "Marvel", sans-serif;
}
.light-1 {
  color: #c2c6a7;
}
.light-2 {
  color: #a9ae84;
}
.light-3 {
  color: #8e9461;
}
.light-4 {
  color: #6b6f49;
}
.dark-1 {
  color: #3a4c36;
}
.dark-2 {
  color: #243022;
}
.dark-3 {
  color: #121811;
}
.bg-light-1 {
  background-color: #c2c6a7;
}
.bg-light-2 {
  background-color: #a9ae84;
}
.bg-light-3 {
  background-color: #8e9461;
}
.bg-light-4 {
  background-color: #6b6f49;
}
.bg-dark-1 {
  background-color: #3a4c36;
}
.bg-dark-2 {
  background-color: #243022;
}
.bg-dark-3 {
  background-color: #121811;
}
.bg-transp {
  background-color: #c2c6a700;
}
.header {
  position: absolute;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  z-index: 10;
}
.header .logo {
  position: relative;
  font-size: 1.5em;
  font-weight: 900;
  text-decoration: none;
}
.header .logo:hover {
  color: #3a4c36;
}
.header .navigation {
  display: flex;
  justify-content: center;
  flex-wrap: 10px 0;
}
.header .navigation li {
  list-style: none;
  margin: 10px 10px 0px;
}
.header .navigation li a {
  text-decoration: none;
  color: #3a4c36;
  font-size: 1.05em;
  letter-spacing: 1px;
  transition: all 0.2s ease;
}
.header .navigation li a:hover {
  color: #243022;
  text-shadow: 5px 5px 5px#121811;
}
.banner {
  padding: 100px 40px 100px 40px;
  height: 100vh;
  width: 100vw;
  display: flex;
}
.content {
  margin: 0px;
  display: grid;
  width: 100vw;
  row-gap: 0px;
  column-gap: 0px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}
.smokeyText {
  position: absolute;
  max-height: fit-content;
}
.bannerP {
  font-size: 1.4em;
  margin: 12vw, 10vh;
  padding: 14vw;
}
.centerText {
  text-align: center;
}
.bannerButton {
  max-width: 80vw;
  margin: 80px 50px 200px 50px;
  padding: 2vw;
  color: #243022;
  border-radius: 8px;
  transition: all 0.2s ease-out;
  background: #c2c6a7;
  box-shadow: 10px 10px 20px #a5a88e, -10px -10px 20px #dfe4c0;
  text-shadow: 6px 6px 18px#243022dd;

}
.bannerButton:hover {
  color: #121811;
}
.bannerButton:active {
  margin: 50px;
  padding: 2vw;
  color: #121811;
  border-radius: 8px;
  background: #c2c6a7;
  box-shadow: 6px 6px 20px #a5a88e, -6px -6px 20px #dfe4c0;
  text-shadow: 10px 10px 18px#243022dd;
}

.bannerButton a {
  text-decoration: none;
  font-size: 2em;
  letter-spacing: 2px;
  color: #243022;
}

.SBimage {
  filter: opacity(0.5);
  top: 20vh;
  left: 20vw;
  max-height: 40vh;
}
.TextOverlay {
  position: absolute;
  top: 20vh;
  left: 20vw;
  font-size: 4em;
  z-index: 1;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.w-full {
  width: 100%;
}
.hidden {
  display: none;
}
.select-none {
  user-select: none;
}
.justify-center {
  justify-content: center;
}
.top-bar {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.level-2 {
  padding: 60px 40px;
  display: flex;
  justify-content: center;
  /*box-shadow: 5px 5px 15px #4c5361ff;*/
}
.level-2s {
  padding: 60px 60px 60px 60px;
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 15px #4c5361ff;
}
.level-2-inside {
  max-width: 760px;
}
.level-2s-inside {
  max-width: 760px;
}
.level-2 h1 {
  font-weight: normal;
  font-size: 4rem;
  margin: 0;
}

.level-2s h1 {
  font-weight: normal;
  font-size: 3rem;
  margin: 0;
}
.level-2 p {
  font-size: 1.4rem;
  line-height: 1.6;
}
.level-2s p {
  font-size: 1.4rem;
  line-height: 1.6;
}
.button1 {
  text-decoration: none;
  padding: 12px 18px;
  border-radius: 18px;
  font-size: 1.4rem;
  display: inline-block;
  transition: all 0.2s ease-out;
}
.button1:hover {
  transform: scale(96%);
  color: #8e9461;
}
.features {
  padding: 60px 45px;
  box-shadow: 5px 5px 15px #4c5361ff;
}
.features-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 45px;
  grid-row-gap: 30px;
}
.feature-item p {
  font-size: 1.2rem;
  margin: 0;
  line-height: 1.6;
}
.feature-item h3 {
  font-size: 1.4rem;
}
.footer {
  padding: 20px 20px;
  color: #1c2835ff;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.bottom-stick {
  position: absolute;
  position: sticky;
  bottom: end;
  left: 0;
}
.products-inner {
  padding: 100px 100px 100px 100px;
  box-shadow: 5px 5px 15px #4c5361ff;
}
.photos-s {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1.1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1.1fr));
}
.card h2 {
  text-decoration: none;
}
.photos-s div img {
  width: 100%;
}
.card {
  width: 400px;
  height: 300px;
  background: #8e9461;
  border-radius: 24px;
  box-shadow: 20px 20px 42px #747950, -20px -20px 42px #a8af72;
  transition: all 0.2s ease-out;
  margin: 20px 20px 20px 20px;
}
.card:hover {
  width: 400px;
  height: 300px;
  background: #8e9461;
  border-radius: 24px;
  box-shadow: inset 12px 12px 42px #747950, inset -12px -12px 42px #a8af72;
}
.product-name {
  padding: 40px;
  transform: translate(0px, 0px);
  color: #1c2835ff;
}
.card2-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 24px;
  background-color: #8e9461;
  box-shadow: 5px 5px 15px #4c5361ff;
}
.card2 {
  display: grid;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";
  background: #8e9461;
  border-radius: 24px;
  box-shadow: 20px 20px 42px #747950, -20px -20px 42px #a8af72;
  transition: all 0.2s ease-out;
  text-align: center;
  margin: 25px;
}
.card2:hover {
  transform: scale(99%);
  background: #8e9461;
  border-radius: 24px;
  box-shadow: inset 12px 12px 42px #747950, inset -12px -12px 42px #a8af72;
}
.card2-image {
  grid-area: image;
  background-image: url("SBC\Images\bearr.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card2-text {
  grid-area: text;
  margin: 20px;
}
.card2-text .ind-sat {
  color: #1c2835ff;
  font-size: 1rem;
}
.card2-text p {
  color: #1c2835ff;
  font-size: 1rem;
  font-weight: 300;
}
.card2-text h2 {
  color: #1c2835ff;
  font-size: 2rem;
  margin-top: 0px;
}
.card2-stats {
  grid-area: stats;
}
